<div class="wrapper row3">
	<section class="hoc container clear">
		<div class="group latest">
			<div class="txtwrap">
				<%= image_tag @article.image.url %>
				<h4 class="heading"><%= @article.title%></h4>
				<%= @article.description %>
			</div>
		</div>
	</section>
	
</div>