<footer class="hoc clear" id="footer heading">
	<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; <%= Year_of_Copyright %> - All Rights Reserved.</p>
    <p class="fl_right">Theme by: <%= Color_mag %>. Powered By: <%= Powered_By %> </p>
    <!-- ################################################################################################ --> 
  </div>
</div>
</footer>