<footer class="hoc clear heading" id="footer" style="width: 100vw; padding:0;">
	<div class="wrapper row5">
  <div id="" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; <%= Year_of_Copyright %> - All Rights Reserved.</p>
    <p class="fl_right">Theme by: <%= Color_mag %>. Powered By: <%= Powered_By %> </p>
    <!-- ################################################################################################ --> 
  </div>
</div>
</footer>