<div id="remove_it" class="w3-sidebar w3-bar-block w3-card my_side_bar" style="padding-top: 10px; width:20%; overflow-x: auto; right:0;margin-bottom:50px;">
  <h4>Featured Articles:</h4>
    <% @featured_articles.each do |fa| %>
      <p><%= link_to fa.title, article_path(fa.id) %></p>
    <%end%>
</div>


<!-- <script type="text/javascript">
  window.onscroll = function() {myFunction2()};
  function myFunction2() {
    var offset = $("#navbar").offset().top;
      var hh = $("#navbar").height();
      $('.w3-card').offset({top:offset+hh});
      // conole.log($('w3-card'))
  }

    $(document).ready(function(){
      
    });
</script> -->

<!-- <div id="lower_side_bar" class="w3-sidebar w3-bar-block w3-card" style="display: none;">
  <!-- <h3 class="w3-bar-item">Menu</h3> -->
  <!-- <a href="#" class="w3-bar-item w3-button">Link 1</a> -->
  <!-- <a href="#" class="w3-bar-item w3-button">Link 2</a> -->
  <!-- <a href="#" class="w3-bar-item w3-button">Link 3</a> -->
  <!-- <div class="w3-bar-item">
    <form class="" action="/articles" method="get">
      <input type="search" name="sq" placeholder="Search">
      <button type="submit colored-div"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="w3-bar-item colored-div">
    Recieve new posts via email
  </div>
  <div class="w3-bar-item">
    <form class="" action="/" method="post">
      <input type="text" name="email">
      <button type="submit colored-div w3-button">Subscribe</button>
    </form>
  </div>
</div> -->